In [37]:
#creating sets
#set of integers
my_set1 = {1,44,66,68,99}
print(my_set1)

#set o mixed datatypes
my_set2 = {101,"apple",(11,66,77)}
print(my_set2)

#duplicates values not allowed
my_set3 = {1,44,66,68,99,99,1}
print(my_set3)

{1, 66, 99, 68, 44}
{'apple', (11, 66, 77), 101}
{1, 66, 99, 68, 44}

In [21]:
#set cannot have mutable items
#my_set4={1,2,[3,4]}

#we can take set from a list
my_set5 = set([1,2,3,2])
print(my_set5)
print(type(my_set5))

#we can make list from a set
my_list1 = list({11,22,33,44})
print(my_list1)
print(type(my_list1))

{1, 2, 3}
<class 'set'>
[33, 11, 44, 22]
<class 'list'>

In [53]:
#operations on sets
my_set1 = {1,44,66,68,99}
print(my_set1)

# 'set' object does not support indexing

#my_set1[0]
#add an element
my_set1.add(101)
print(my_set1)

#add mulptiple elements
my_set1.update([88,92,21])
print(my_set1)

#add list and set
my_set1.update([100,312],{222,434,5})
print(my_set1)

{1, 66, 99, 68, 44}
{1, 66, 99, 68, 101, 44}
{1, 66, 68, 21, 88, 92, 99, 101, 44}
{1, 66, 68, 5, 21, 88, 92, 222, 99, 100, 101, 44, 434, 312}

In [51]:
#remove and discard
#initialize my_set
my_set1 = {1,44,66,68,99}
print(my_set1)

#discard an element which is not present,no error
my_set1.discard(4)
print(my_set1)

#remove an element which is not present,no error
#my_set1.remove(6)
print(my_set1)

#discard an elements
my_set1.discard(44)
print(my_set1)

my_set1.remove(99)
print(my_set1)

{1, 66, 99, 68, 44}
{1, 66, 99, 68, 44}
{1, 66, 99, 68, 44}
{1, 66, 99, 68}
{1, 66, 68}

In [59]:
# using pop()
#initialize my_set
my_set1 = {1,44,66,68,99}
print(my_set1)

#pop an element
print(my_set1.pop())

#pop another element
print(my_set1.pop())
print(my_set1)

#clear my_set
my_set1.clear()
print(my_set1)

{1, 66, 99, 68, 44}
1
66
{99, 68, 44}
set()

In [77]:
#set operation - union
myset1 = {0,1,2,3,5,6,8,4,9,21}
myset2 = {9,4,2,4,21,3,4,5}
print(myset1)
print(myset2)

#use | operator for union
print(myset1 | myset2)
print(myset2 | myset1)
print(myset1.union(myset2))
print(myset2.union(myset1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{2, 3, 4, 5, 21, 9}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}

In [79]:
#set operation - intersection
myset1 = {0,1,2,3,5,6,8,4,9,21}
myset2 = {9,4,2,4,21,3,4,5}
print(myset1)
print(myset2)

#use & operator for intersection
print(myset1 & myset2)
print(myset2 & myset1)
print(myset1.intersection(myset2))
print(myset2.intersection(myset1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{2, 3, 4, 5, 21, 9}
{2, 3, 4, 5, 9, 21}
{2, 3, 4, 5, 9, 21}
{2, 3, 4, 5, 9, 21}
{2, 3, 4, 5, 9, 21}

In [86]:
#set operation - difference
myset1 = {0,1,2,3,5,6,8,4,9,21}
myset2 = {9,4,2,4,21,3,4,5,56}
print(myset1)
print(myset2)

#use - operator for intersection
print(myset1 - myset2)
print(myset2 - myset1)
print(myset1.difference(myset2))
print(myset2.difference(myset1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{2, 3, 4, 5, 21, 56, 9}
{0, 1, 6, 8}
{56}
{0, 1, 6, 8}
{56}

In [90]:
#set operation - symmetric difference
myset1 = {0,1,2,3,5,6,8,4,9,21}
myset2 = {9,4,2,4,21,3,4,5,56}
print(myset1)
print(myset2)

#use ^ operator for intersection
print(myset1 ^ myset2)
print(myset2 ^ myset1)
print(myset1.symmetric_difference(myset2))
print(myset2.symmetric_difference(myset1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}
{2, 3, 4, 5, 21, 56, 9}
{0, 1, 6, 8, 56}
{0, 1, 6, 8, 56}
{0, 1, 6, 8, 56}
{0, 1, 6, 8, 56}

In [94]:
#set membership
myset1 = {0,1,2,3,5,6,8,4,9,21}
print(2 in myset1)
print(6 in myset1)
print(2 not in myset1)
print(2 not in myset1)

True
True
False
False

In [102]:
#iterating throug a set
for letter in set("welcome"):
    print(letter)

w
c
m
e
l
o

In [112]:
#built-in fuction with set
myset1 = {0,1,2,3,5,6,8,4,9,21}
print(max(myset1))
print(min(myset1))
print(sum(myset1))
print(len(myset1))

21
0
59
10

In [122]:
#python frozenset
# frozenset is anew class that has the characteristics
# of a set,but its elements cannot be changed once assigned.
#While tuples are immutable lists,frozensets are immutable sets
myset1 = frozenset ([0,1,2,3,5,6,8,4,9,21])
myset2 = frozenset ([9,4,2,4,21,3,4,5,56])
print(myset1)
print(myset2)
print(myset1.difference(myset2))
print(myset1.union(myset2))
print(myset1.intersection(myset2))
print(myset1.symmetric_difference(myset2))
#myset1.add(10)

frozenset({0, 1, 2, 3, 4, 5, 6, 8, 9, 21})
frozenset({2, 3, 4, 5, 9, 21, 56})
frozenset({0, 1, 6, 8})
frozenset({0, 1, 2, 3, 4, 5, 6, 8, 9, 21, 56})
frozenset({2, 3, 4, 5, 9, 21})
frozenset({0, 1, 6, 8, 56})